$background: #000;
$color: #fff;
$btn-color: #ddd;

html,
body {
  height: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  flex-direction: column;

  &__heading {
    padding: 3rem;
    font-size: 3rem;
  }

  &__search-bar {
    &__content {
      padding: 0.3rem;
      width: 15rem;
      height: 2rem;
      border: none;
      outline: none;
      font-size: 1.06rem;
    }

    &__btn {
      padding: 0.3rem;
      width: 5rem;
      height: 2.6rem;
      background-color: $btn-color;
      cursor: pointer;
      outline: none;
      border: none;
      font-size: 1.06rem;
    }
  }
}